$link: #6CC4F1;
$link-active: #5288e8;
$link-focus: #737a89;
$left-aside-bg: #91a0bd;
$main-bg:#111a2b;
$card-bg: #212c38;
$title: #5993fa;
$title2: #5288e8;
$content: #91a0bd;

ion-list {
    padding: 0;
    --padding-top: 0;
    --padding-bottom: 0;
}

ion-content {
    --background: #111a2b;

    // ion-row.place-row 一行的占位，用来撑起盒子
    ion-row.palace-row {
        height: 10vh;
    }

    ion-row.palace-reset-row {
        height: 3vh;
    }

    mat-list-item {
        --background: #111a2b;
        position: relative;

        // ion-input.form-control 表单控制，占全部宽度
        ion-input.form-control {
            
            width: 100%;
            --padding-bottom: 12px;
            --padding-end: 24px;
            --padding-start: 24px;
            --padding-top: 12px;
            padding: 12px 24px;
            --background: #e8f0fe;
            background:#e8f0fe;
            border-radius: 5px;
            font-size: 16px;
            appearance: none;
            --webkit-appearance: none;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }

        ion-input.form-control:focus, ion-input.form-control:hover {
            box-shadow: inset 0 0 0 0.15rem #5288e8;
        }
        // input.form-control 表单控制，占全部宽度
        input.form-control {
            width: 100%;
            --padding-bottom: 12px;
            --padding-end: 24px;
            --padding-start: 24px;
            --padding-top: 12px;
            padding: 12px 24px;
            --background: #e8f0fe;
            background:#e8f0fe;
            border-radius: 5px;
            font-size: 16px;
            appearance: none;
            outline: none;
            --webkit-appearance: none;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }

        input.form-control:focus, ion-input.form-control:hover {
            box-shadow: inset 0 0 0 0.1rem #5288e8;
        }


        ion-icon {
            --color: #ffffff;
        }

        // ion-icon.form-control 表单控制，位于右下角
        ion-icon.form-control {
            z-index: 2;
            position: absolute;
            color: black;
            right: 15px;

        }

        label {
            font-size: 16px;
            color: #6a81ac;
        }
        // label.forget-tab 忘记密码切换器
        label.forget-tab {
            cursor: pointer;
        }


    }

    // mat-list-item.form-title 登陆标题
    mat-list-item.form-title {}

    mat-list-item.form-title img {
        width: 11px;
        margin: 0 10px 0 0;
    }

    mat-list-item.form-title span {
        text-align: left;
        font-size: 18px;
        color: $title;
    }

    // mat-list-item.login-taber 登陆、注册的切换器
    mat-list-item.login-taber {
        // margin: 15px 0 15px 0;
        font-size: 18px;
        color: $link-focus;

        // a.link-to 链接
        a.link-to {
            font-size: 18px;
            color: $link-focus;
            text-decoration: none;
            margin: 6px 0;
            cursor: pointer;
        }

        .link-to:hover,
        .link-to:focus {
            color: $link-focus;
        }

        .link-to.active {
            color: $link-active;
        }

    }

    ion-button {
        padding: 0px 18px 0 18px;
        margin: 15px 0;
        height: 100%;
    }

    small#beian, small#copy {
        display: none;
    }
}