<ion-content>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="planet-outline"></ion-icon>
        <ion-label>首页</ion-label>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>

      <ion-tab-button tab="submit">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label>投稿</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="works">
        <ion-icon name="folder-outline"></ion-icon>
        <ion-label>作品</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="setting">
        <ion-icon name="options-outline"></ion-icon>
        <ion-label>设置</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
